@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Source+Sans+Pro:wght@900&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(44, 44, 44);
}

.content-wrapper {
  text-align: center;
}

h1 {
  color: rgb(204, 204, 204);
  font-family: "Comfortaa", sans-serif;
  font-size: 5em;
  letter-spacing: -0.04em;
}

p {
  color: rgb(0, 170, 255);
  font-family: "Source Sans Pro", cursive;
  font-size: 1.5em;
  margin: 15px 0;
}

.divider {
  color: rgb(204, 204, 204);
}

.icon {
  color: rgb(204, 204, 204);
  padding: 15px;
  border-radius: 50%;
}

.icon:hover {
  cursor: pointer;
  background-color: rgb(22, 22, 22);
}